{{!< default}}

<section class="content">
  {{#foreach posts}}
    {{> post-single}}
  {{/foreach}}
</section>
<aside class="side-bar">
  {{#foreach posts}}
    {{>post-archive}}
  {{/foreach}}
</aside>
